{% assign sidebarFile = page.sidebar.field | default: layout.sidebar.file | default: site.sidebar.file %}

{% if site.debug %}
    <table>
        <caption>Sidebar To Use</caption>
        <tr>
            <th>page</th>
            <td><code>{{ page.sidebar.file }}</code></td>
        </tr>
        <tr>
            <th>layout</th>
            <td><code>{{ layout.sidebar.file }}</code></td>
        </tr>
        <tr>
            <th>site</th>
            <td><code>{{ site.sidebar.file }}</code></td>
        </tr>
        <tr>
            <td></td>
            <td>
                {{ sidebarFile | prepend: "sidebar/" | append: ".liquid" }}
            </td>
        </tr>
    </table>
{% endif %}

{% include {{ sidebarFile | prepend: "sidebar/" | append: ".liquid" }} %}