<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>{{ site.title }}</title>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }} " />
    <link rel="stylesheet" href="{{ 'assets/fontawesome/css/fontawesome.css' | relative_url }} " />
    <link rel="stylesheet" href="{{ 'assets/fontawesome/css/solid.css' | relative_url }} " />
    <link rel="stylesheet" href="{{ 'assets/fontawesome/css/brands.css' | relative_url }} " />
</head>
<body class="{{ page.cssClass }} {{ site.bodyClasses | join: " " }} is-preload">
    <div id="page-wrapper">